<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Aviso de modificación de requerimiento</title>
</head>
<body>
    <p>Estimado USERNAME,</p>
    <p>Se modificó el requerimiento Nro. REQUIREMENTNUMBER.</p>
    <p>Detalles:</p>
    <table>
        <tbody>
            <tr>
                <td>Empresa:</td>
                <td>ENTERPRISE</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>CUSTOMER</td>
            </tr>
            <tr>
                <td>Proyecto:</td>
                <td>PROJECT</td>
            </tr>
            <tr>
                <td>Requerimiento:</td>
                <td>REQUIREMENT</td>
            </tr>
            <tr>
                <td>Alcance:</td>
                <td>SCOPE</td>
            </tr>
            <tr>
                <td>Tiempo Estimado:</td>
                <td>ESTIMATEDTIME</td>
            </tr>
        </tbody>
    </table>

    <p>Los archivos adjuntos se los puede descargar en el link: LINKDOWNLOAD</p>

    <p>Saludos Cordiales</p>
</body>
</html>